[run]
    source=elephants_cse5911

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
	# Ignore all files in virtual environment
	*/.venv/*
	*/tests/*
